.code-editor {
	position: relative;
	overflow: hidden;


	& textarea.code-editor-text {
		/* display: block;
		width: 48em;
		font-family: monospace;
		background-color: #DDD;
		padding: 1em; */
	}
}
