:root {
	/* General foreground, background colors */
  --clr-fg: #CCCCCC;
  --clr-bg: #333333;
  /* Colors for <a> anchors */
	--clr-fga: #BBBBBB;
	--clr-fga-h: #EEEEEE;
	--clr-fga-a: #FFFFFF;
	/* Colors for controls (button, select, input) */
  --clr-fgc: #DDDDDD;
	--clr-fgc-h: #EEEEEE;
	--clr-fgc-a: #FFFFFF;
  --clr-bgc: #444444;
  --clr-bgc-h: #555555;
  --clr-bgc-a: #777777;
	/* Static SVG default color */
  --clr-svg: #AAAAAA;
	/* Wave plot color */
	--clr-wave: #448822;
}
